.drawerfilter-wrap {
	padding: 4px 16px 16px 16px;
	background: #fff;

	h2 {
		color: #222;
		font-size: 16px;
		font-weight: normal;
		padding-top: 32px;
		padding-bottom: 16px;
		padding-left: 16px;
	}

	.filter-list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 16px;

		li {
			width: 25%;
			text-align: center;

			dl {
				margin-bottom: 16px;

				dt {
					padding-top: 4px;
					height: 48px;
					margin-bottom: 0;
					display: flex;
					justify-content: center;
					.setICON {
						width: 44px;
						height: 44px;
					}
					img {
						width: 40px;
					}
				}

				dd {
					margin-left: 0;
					color: #666;
					font-size: 12px;
					// line-height: 32px;
				}
			}

			&.active {
				dl {
					dt {
						padding-top: 0;

						.setICON {
							border: 1px solid #00a6ff;
							border-radius: 12px;
							padding: 2px;
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
					dd {
						color: #222;
					}
				}
			}
		}
	}

	.filter-button {
		text-align: center;

		span {
			display: inline-block;
			width: 35%;
			height: 40px;
			line-height: 40px;
			background-color: #00a6ff;
			color: #fff;
			border-radius: 8px;
		}
	}
}

// 篩選下拉單
.Collapse {
	z-index: 2;
	border: 0;
	background-color: #00a6ff;
	position: relative;
	.rc-collapse-header {
		display: none !important;
		.arrow {
			display: none;
		}
	}
	.rc-collapse-item {
		background: #00a6ff;
		z-index: 4;
		position: absolute;
		transition: transform 0.3s ease-out;
		will-change: transform;
		overflow-y: auto;
		width: 100%;
		.rc-collapse-content {
			height: -webkit-fit-content;
			height: -moz-fit-content;
			height: fit-content;
			z-index: 1;
			// padding: 0px 32px;
			padding-bottom: 16px;
			.am-flexbox-item {
				text-align: center;
				padding-bottom: 16px;
			}
		}
	}
	&:before {
		display: none;
	}
}
