@function px2rem428 ($px) {
	$rem: 42.8px; //適配這個活動頁的mockup 頁寬為428px => 42.8  (一般為375 => 37.5)
	@return ($px / $rem) + rem;
}
.HeaderBar {
	position: fixed;
	background-color: #00a6ff;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	color: white;
	z-index: 999;
	.HeaderLogo {
		width: 95px;
		margin-left: 10px;
	}
}
.ann14-container {
	width: 100vw;
	background-image: url($base-path + '/img/events/WC2022/BG_2.png');
	//background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	padding-top: 65px;
	.WC2022Swiper,
	.NewsSwiper {
		margin: 10px 0px 0px 0;

		.swiper-pagination {
			position: absolute;
			text-align: center;
			transition: .3s opacity;
			transform: translate3d(0, 0, 0);
			z-index: 10;
			bottom: 10px;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.swiper-pagination-bullet {
				width: 6px !important;
				height: 6px !important;
				text-align: center;
				line-height: 6px;
				font-size: 12px;
				color: #000;
				opacity: 1;
				background: #ffe786;
				border-radius: 10px;
				margin: 5px 2px;
			}

			.swiper-pagination-bullet-active {
				color: #fff;
				background: #ffe786;
				width: 20px !important;
				height: 8px !important;
			}
		}
		.swiper-slide {
			background: #03a9f436;
			width: 90% !important;
			margin: 0 5%;
			border-radius: 20px;
			overflow: hidden;
		
		}

		.swiper-slide-prev {
			right: -8%;
		}

		.swiper-slide-next {
			left: -8%;
		}
	}
	.WC2022Swiper {
		padding-bottom: 40px;
		.swiper-slide {
			height: 365px;
		}
	}
	.NewsSwiper .swiper-slide {
		height: 165px;
	}
	.NewsSwiper {
		.title {
			position: absolute;
			bottom: -23px;
			padding: 0.26667rem 0.53333rem;

			width: 100%;
			height: 5px;
			box-shadow: 30PX 30px 80px 72px black;
		}
		.content-title {
			position: absolute;
			bottom: 25px;
			width: 100%;
			height: 30px;
			color: white;
			display: block;
			padding: 0 20px;
			z-index: 9;
		}
	}
	.Mini-Game {
		.Mini-Game-Swiper {
			margin-top: 20px;
			.swiper-slide {
				width: 62.8%;
				margin-right: 10px;
				border-radius: 10px;
				overflow: hidden;
			}
		}
	}
	.News {
		.News-list {
			padding: 20px;
			display: flex;
			color: white;
			.left {
				flex-basis: 40%;
				margin-right: 15px;
				border-radius: 10px;
				overflow: hidden;
				position: relative;
				.video {
					left: 10px;
					padding: 5px;
				}
			}
			.right {
				flex-basis: 60%;
				display: flex;
				flex-flow: column;
				justify-content: space-between;
				line-height: 20px;
				.time {
					//padding-top: 10px;
					font-size: 12px;
					color: #8f8f8f;
				}
			}
		}

		.morebtn {
			background-color: #ffe05c;
			margin: auto 20px;
			border: 0;
			padding: 8px;
			width: 89%;
			border-radius: 10px;
			font-size: 14px;
			font-weight: bold;
			color: #000;
		}
	}

	.FOOTER {
		padding: 40px 0px 20px;
		text-align: center;
		color: #a1b3cc;
	}

	.ann14-top {
		width: 100vw;
		height: 170vh;
		// background-image: url($base-path + '/img/events/WC2022/BG_1.png');
		// background-repeat: no-repeat;
		// background-position: center;
		// background-size: cover;
		padding: 5px 0;
		.Header-Title {
			display: flex;
			width: 200px;
			margin: 0 auto;
			align-items: center;
			padding-top: 20px;
			.left {
				background-image: url($base-path + '/img/events/WC2022/Text-Decoration_L.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 70%;
				width: 100px;
				height: 25px;
			}
			.right {
				background-image: url($base-path + '/img/events/WC2022/Text-Decoration_R.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 70%;
				width: 100px;
				height: 25px;
			}
			.center {
				color: #ffe786;
				width: 200px;
				font-size: 17px;
			}
		}
		.News {
			.video {
				position: absolute;
				top: 10px;
				left: 18px;
				background-color: #0000007d;
				padding: 8px;
				border-radius: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.Mini-Game {
			height: 220px;
			//background: red;
			padding: 17px;
			margin-bottom: 25px;
			background-image: url($base-path + '/img/events/WC2022/BG_2.png');
			background-size: 100%;
			background-position: bottom;
			margin-top: 45px;
		}
		.PlayBG {
			background-image: url($base-path + '/img/events/WC2022/BG-CN_GameStarted.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			height: 360px;
			margin: 25px 10px;
			border-radius: 10px;
			overflow: hidden;
			text-align: center;
			position: relative;
			.CN_GoalKeeper {
				width: 100%;
			}
			.Click-The-Ball_CN {
				position: absolute;
				height: 100%;
				right: 0;
			}
		}
		.Content {
			background-image: url($base-path + '/img/events/WC2022/BG-CN_GameNotStarted.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			height: 360px;
			margin: 25px 10px;
			border-radius: 10px;
			overflow: hidden;
			text-align: center;
			.Icon-HowToPlay {
				width: 100%;
				height: auto;
				margin-top: -10px;
			}
			.Icon-Start {
				width: 161px;
				height: 131px;
				margin-top: 10px;
			}
			.Icon-END {
				width: 100%;
			}
			.Play-SET {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 10px;
				.Icon-Play {
					width: 70px;
					height: 70px;
				}
			}
		}

		.line {
			background-color: #a1b3cc4f;
			height: 1px;
			margin: 15px 35px;
		}
		.Centerlist {
			color: #ffe786;
			.list {
				display: flex;
				align-items: center;
			}
			img {
				width: 20px;
				height: 20px;
				margin-right: 5px;
			}
		}
		.Prizes-container {
			padding: 10px 40px;
			display: flex;
			justify-content: space-between;
		}
		.ann14-top-banner {
			width: calc(100vw - 1.748rem); //16px*2 => 0.748rem
			margin: px2rem428(10px) px2rem428(35px) px2rem428(5px) px2rem428(35px);
		}
		.ann14-top-text-container {
			width: 100vw;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.ann14-top-text {
				width: 84%;
				height: px2rem428(70px);
				// font: normal normal 300 px2rem428(13px)/px2rem428(17px) Microsoft YaHei;
				color: #ffffff;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				background-image: url($base-path + '/img/events/Golden-Week/Title_Activity.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				font-size: 19px;
				color: #f6dab5;
				font-weight: bold;
				background-position: 0px 15px;
			}
		}
		.ann14-top-countdown-container {
			margin-top: px2rem428(5px);
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			.ann14-top-countdown-numbers {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				.ann14-top-countdown-number {
					width: px2rem428(40px);
					height: px2rem428(60px);
					font: normal normal bold px2rem428(25px)/px2rem428(35px) Roboto;
					color: #ffffff;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					background-image: url($base-path + '/img/events/WC2022/Countdown.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
				.ann14-top-countdown-sep {
					width: px2rem428(14px);
					height: px2rem428(60px);
					font: normal normal normal px2rem428(30px)/px2rem428(40px) Microsoft YaHei;
					color: #ffffff;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
				}
			}
			.ann14-top-countdown-words {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				.ann14-top-countdown-word {
					width: 72px;
					height: 15px;
					//margin-top: px2rem428(10px);
					font: normal normal bold px2rem428(11px)/px2rem428(15px) Microsoft YaHei;
					color: white;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
				}
				.ann14-top-countdown-sep {
					width: px2rem428(14px);
					height: px2rem428(15px);
				}
			}
		}
		.ann14-top-portals-container {
			position: relative;
			//height: px2rem428(350px);
			background-image: url($base-path + '/img/events/WC2022/BG_1.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			.Event_Img {
				width: 65%;
				margin: -2px auto;
				display: flex;
			}
			.ann14-top-portal {
				//background-image: url($base-path + '/img/events/ann14/Popping/Portal.webp');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: bottom;
				width: px2rem428(165px);
				height: px2rem428(177px);
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				position: absolute;
				&.ann14-top-portal-1 {
					top: px2rem428(14px);
					left: px2rem428(22px);
				}
				&.ann14-top-portal-2 {
					top: px2rem428(-32px);
					right: px2rem428(65px);
				}
				&.ann14-top-portal-3 {
					width: px2rem428(189px);
					height: px2rem428(203px);
					top: px2rem428(116px);
					left: px2rem428(33px);
				}
				&.ann14-top-portal-4 {
					width: px2rem428(189px);
					height: px2rem428(203px);
					top: px2rem428(69px);
					right: px2rem428(17px);
				}
				&.ann14-top-portal-5 {
					width: px2rem428(211px);
					height: px2rem428(225px);
					top: px2rem428(245px);
					left: px2rem428(3px);
				}
				&.ann14-top-portal-6 {
					width: px2rem428(211px);
					height: px2rem428(225px);
					top: px2rem428(238px);
					right: px2rem428(5px);
				}
				.ann14-top-portal-gif {
					width: px2rem428(135px);
					//border: 1px solid red;
					&.ann14-top-portal-gif-3,
					&.ann14-top-portal-gif-4 {
						width: px2rem428(154px);
					}
					&.ann14-top-portal-gif-5,
					&.ann14-top-portal-gif-6 {
						width: px2rem428(172px);
					}
				}
			}
		}
		.ann14-top-time-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: px2rem428(15px);
			.ann14-top-time {
				height: px2rem428(42px);
				font: normal normal normal px2rem428(14px)/px2rem428(19px) Microsoft YaHei;
				color: #ffe786;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				//background-color: #fcf6e4;
				border-radius: px2rem428(42px);
				padding: 23px 30px;
				font-size: 12px;
				text-align: center;

				background-image: url($base-path + '/img/events/WC2022/ActivityTime.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
		.ann14-top-button-container {
			width: 100vw;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			//margin-top: px2rem428(61px);
			padding-left: px2rem428(44px);
			padding-right: px2rem428(43px);
			padding-top: px2rem428(20px);
			.ann14-top-button-deposit,
			.ann14-top-button-times {
				width: px2rem428(160px);
				height: px2rem428(60px);
				//border: 1px solid #ffeb9c;
				border-radius: px2rem428(10px);
				font: normal normal normal px2rem428(14px)/px2rem428(19px) Microsoft YaHei;
				color: #e2e2e2;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				//background-color: #fcf6e4;
				.ann14-top-button-deposit-row {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					margin-top: px2rem428(3px);
					font-size: 20px;
					color: #ffe786;
				}
			}
			.ann14-top-button-times {
				align-items: flex-start;
				line-height: 25px;
			}
			.ann14-top-button-deposit {
				align-items: flex-end;
				line-height: 25px;
				.ann14-top-button-deposit-refresh {
					width: px2rem428(18.4px);
					margin-left: px2rem428(9px);
				}
			}
		}
	}

	.Content-BG {
		// background-image: url($base-path + '/img/events/Mid-Autumn/BG-2_Mobile.jpg');
		// background-repeat: no-repeat;
		// background-size: 100% 100%;
		// margin-top: -90px;
	}

	.ann14-middle {
		width: 100vw;
		height: px2rem428(373px);
		padding-top: 40px;
		.ann14-middle-content {
			background-image: url($base-path + '/img/events/Golden-Week/Pop-Up.png');
			background-repeat: no-repeat;
			background-position: top;
			background-size: contain;
			height: 345px;
		}
		.ann14-middle-title {
			width: px2rem428(185px);
			height: px2rem428(27px);
			background-image: url($base-path + '/img/events/Mid-Autumn/CN/HowTo_CN.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			font: normal normal normal px2rem428(20px)/px2rem428(30px) Hiragino Sans GB;
			color: #ffffff;
			margin: 0px auto 20px;
		}
		.ann14-middle-title-container {
			width: 100vw;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-top: px2rem428(47px);
			.ann14-middle-title-1 {
				color: #ffeb9c;
				font: normal normal normal px2rem428(20px)/px2rem428(30px) Hiragino Sans GB;
			}
			.ann14-middle-title-2 {
				color: #fef681;
				font: normal normal normal px2rem428(15px)/px2rem428(22px) Hiragino Sans GB;
				margin-top: px2rem428(3px);
			}
		}
		.ann14-middle-steps-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: px2rem428(27px);
			padding-left: px2rem428(15px);
			padding-right: px2rem428(15px);
			transform: scale(0.9);
			.ann14-middle-step {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				// &.ann14-middle-step1 {
				// 	width: px2rem428(113px);
				// }
				// &.ann14-middle-step2 {
				// 	width: px2rem428(153px);
				// }
				// &.ann14-middle-step3 {
				// 	width: px2rem428(105px);
				// }
				.ann14-middle-step-img {
					width: px2rem428(72px);
					height: px2rem428(71px);
				}
				.ann14-middle-step-title-1 {
					margin-top: px2rem428(17px);
					font: normal normal bold px2rem428(14px)/px2rem428(19px) Microsoft YaHei;
					color: #ffe121;
					padding-bottom: 5px;
				}
				.ann14-middle-step-title-2 {
					font: normal normal normal px2rem428(12px)/px2rem428(16px) Microsoft YaHei;
					color: #ffefd9;
				}
			}
		}
		.ann14-middle-button-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: 220px;
			.ann14-middle-button {
				//background-color: #eacf7a;
				border-radius: px2rem428(14px);
				width: px2rem428(145px);
				height: px2rem428(42px);
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				background-image: url($base-path + '/img/events/Golden-Week/more.jpg');
				background-repeat: no-repeat;
				background-position: top;
				background-size: cover;
			}
		}
	}

	.ann14-bottom {
		// width: 100vw;
		height: px2rem428(600px);
		margin: 30px 20px 20px 20px;
		background-image: url($base-path + '/img/events/Golden-Week/Prizes.png');
		background-repeat: no-repeat;
		background-position: top;
		background-size: contain;
		margin-top: 95px;
		.ann14-bottom-title-container {
			//width: 100vw;
			padding-top: px2rem428(45px);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.ann14-bottom-title {
				width: px2rem428(185px);
				height: px2rem428(27px);
				background-image: url($base-path + '/img/events/Mid-Autumn/CN/PrizeList_CN.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				font: normal normal normal px2rem428(20px)/px2rem428(30px) Hiragino Sans GB;
				color: #ffffff;
			}
		}
		.ann14-bottom-prizes-box {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			margin-top: px2rem428(27px);
			padding-left: px2rem428(10px);
			padding-right: px2rem428(10px);
			.item:first-child {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				.ann14-bottom-prize-img {
					width: 95px;
					height: 95px;
				}
			}
			.ann14-bottom-prize-img {
				width: px2rem428(80px);
				height: px2rem428(80px);
				padding: 5px;
			}
		}
		.ann14-bottom-button-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: px2rem428(35px);
			.ann14-bottom-button {
				background-image: url($base-path + '/img/events/Golden-Week/myPrizes.jpg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				border-radius: px2rem428(14px);
				width: px2rem428(143px);
				height: px2rem428(40px);
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				font: normal normal bold px2rem428(15px)/px2rem428(20px) Microsoft YaHei;
				color: #0a2ea9;
			}
		}
	}
}

//彈窗共用背景block
.ann14-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.76);
}
.MyPrizes {
	.ann14-bottom-popup-header {
		justify-content: space-between !important;
		padding: 10px;
	}
}
//抽獎結果彈窗
.ann14-prize-popup {
	position: absolute;
	top: px2rem428(149px);
	left: px2rem428(7px);
	right: px2rem428(7px);
	border: none;
	width: px2rem428(414px);
	height: px2rem428(414px);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	outline: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.ann14-prize-popup-content {
		width: 100%;
		margin-top: px2rem428(35px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.ann14-prize-popup-content-title {
			//font-size: 18px;
			margin-top: 18px;
			font: normal normal bold px2rem428(18px)/px2rem428(20px) Microsoft YaHei;
			color: #c80e0e;
		}
		.ann14-prize-popup-content-prize-img {
			width: px2rem428(106px);
			height: px2rem428(106px);
			margin-top: px2rem428(20px);
			margin-bottom: px2rem428(20px);
		}
		.ann14-prize-popup-content-text {
			font: normal normal normal 14px/14px Microsoft YaHei;
			color: #012557;
			margin: 2px 0;
			.ann14-prize-popup-content-text-highlight {
				color: #1b8ef0;
			}
		}
		.ann14-prize-popup-buttons {
			width: px2rem428(280px);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: px2rem428(15px);
			font: normal normal normal px2rem428(10px)/px2rem428(14px) Microsoft YaHei;
			.ann14-top-popup-button-iknow {
				width: px2rem428(141px);
				height: px2rem428(34px);
				background-image: url($base-path + '/img/events/WC2022/Button-L.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				color: white;
				margin-right: 10px;
			}
			.ann14-prize-popup-button-blue {
				width: px2rem428(141px);
				height: px2rem428(34px);
				background-image: url($base-path + '/img/events/WC2022/Button-Pop-Up_1.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				color: white;
				margin-right: 10px;
			}
			.ann14-prize-popup-button-deposit {
				width: px2rem428(139px);
				height: px2rem428(34px);
				background-image: url($base-path + '/img/events/WC2022/Button-Pop-Up_2.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				color: white;
			}
			.ann14-prize-popup-button-yellow {
				width: px2rem428(139px);
				height: px2rem428(34px);
				background-image: url($base-path + '/img/events/WC2022/Button-Pop-Up_2.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				color: white;
			}
		}
	}
}

//溫馨提醒彈窗
.ann14-top-popup {
	position: absolute;
	top: px2rem428(333px);
	left: px2rem428(46px);
	right: px2rem428(46px);
	border: none;
	background: white;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	outline: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 8PX;
	.border-type {
		background-color: #f6dab5 !important;
		border: 2px solid #c80e0e !important;
		color: #303030 !important;
	}
	.ann14-top-popup-header {
		font-size: 16px;
		background-color: #013c85;
		border-radius: 8px 8px 0 0;
		width: 100%;
		height: px2rem428(37px);
		min-height: px2rem428(37px);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-left: px2rem428(15px);
		padding-right: px2rem428(9px);
		font: normal normal bold px2rem428(15px)/px2rem428(20px) Microsoft YaHei;
		color: #ffffff;
		border-radius: 8px 8px 0 0;
		.ann14-top-popup-close {
			width: px2rem428(23px);
			height: px2rem428(23px);
			filter: invert(1);
		}
	}
	.ann14-top-popup-content {
		padding-top: px2rem428(17px);
		padding-left: px2rem428(15px);
		padding-right: px2rem428(17px);
		padding-bottom: px2rem428(22px);
		font: normal normal normal 12px/17px Microsoft YaHei;
		color: #303030;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.ann14-top-popup-desc {
			text-align: center;
			width: px2rem428(304px);
			height: px2rem428(39px);
			.ann14-top-popup-desc-single {
				line-height: px2rem428(39px);
			}
		}
		.ann14-top-popup-buttons {
			width: px2rem428(304px);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: px2rem428(10px);
			.ann14-top-popup-button-iknow {
				width: px2rem428(141px);
				height: px2rem428(34px);
				background-image: url($base-path + '/img/events/WC2022/Button-L.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				color: white;
				margin-right: 10px;
			}
			.ann14-top-popup-button-blue {
				width: px2rem428(135.43px);
				height: px2rem428(37px);
				background-color: #1285f5;
				border-radius: px2rem428(10px);
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
			.ann14-top-popup-button-orange {
				width: px2rem428(135.43px);
				height: px2rem428(37px);
				background-image: url($base-path + '/img/events/WC2022/Button-L.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				color: white;
				//background-color: #ff734a;
				border-radius: px2rem428(10px);
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
			.ann14-top-popup-button-yellow {
				width: px2rem428(135.43px);
				height: px2rem428(37px);
				background-image: url($base-path + '/img/events/WC2022/Button-R.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				border-radius: px2rem428(10px);
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				color: #927d25;
			}
			.ann14-top-popup-button-sep {
				width: px2rem428(10px);
			}
		}
	}
}

//活動規則彈窗
.ann14-middle-popup {
	// position: absolute;
	// top: px2rem428(124px);
	// left: px2rem428(23px);
	// right: px2rem428(23px);
	// bottom: px2rem428(174px);
	border: none;
	background-image: url($base-path + '/img/events/WC2022/BG_1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	outline: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	//height: calc(100vh - 150px);
	border-radius: 8px;

	.Icon-Play-list {
		width: 20px;
		margin: -3px 7px;
	}

	.ann14-middle-popup-header {
		background-color: #c80e0e;
		width: 100%;
		height: px2rem428(50px);
		min-height: px2rem428(50px);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-left: px2rem428(18px);
		padding-right: px2rem428(15px);
		font: normal normal bold px2rem428(16px)/px2rem428(21px) Microsoft YaHei;
		color: #f6dab5;
		border-radius: 8px 8px 0 0;
		.ann14-middle-popup-close {
			width: px2rem428(30px);
			height: px2rem428(30px);
			filter: invert(1);
		}
	}

	.modal-info-content {
		//background-color: #012557;
		width: 100%;
		height: 100%;
		padding: 10px;
		.BackTop {
			text-align: right;
		}
		.ann14-bottom-popup-table {
			width: 100%;
			text-align: center;
			font-size: 13px;
			background-color: white;
			border-radius: 10px;
			overflow: hidden;
			tr {
				border-bottom: 3px solid white;
			}
			tr:nth-child(odd) {
				//background-color: #eeeee4;
			}
			// tr:first-child {
			// 	border-bottom: px2rem428(6px) solid #eeeee4;
			// }
			tr:nth-child(even) {
				//background-color: #eeeee4;
			}

			tr td span {
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			tr td:first-child {
				span {
					border-radius: 20px 0px 0px 20px;
					margin-left: 10px;
					width: 93%;
					white-space: break-spaces;
				}
			}
			tr td:last-child {
				span {
					border-radius: 0px 20px 20px 0px;
					margin-right: 10px;
					width: 93%;
				}
			}
			th:first-child {
				width: px2rem428(120px);
			}
			th {
				height: px2rem428(15px);
				vertical-align: middle;
				padding: 10px;
				background-color: white;
				color: #656565;
			}
			td {
				color: #012557;
				height: px2rem428(30px);
				//padding: 10px;
				vertical-align: middle;
				//border-bottom: 7px solid WHITE;
				white-space: nowrap;
				span {
					background-color: #eeeee4;
					display: block;
					width: 100%;
					padding: 10px;
					margin-bottom: 5px;
				}
			}
		}
	}

	.Emptybox {
		width: 119px;
		text-align: center;
		margin: 0 auto;
		color: #d1b88e;
		height: calc(100vh - 100px);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		line-height: 40px;
		img {
			width: 60px;
		}
	}

	.ann14-middle-popup-content {
		padding-top: px2rem428(18px);
		padding-left: px2rem428(8px);
		padding-right: px2rem428(26px);
		margin: 3px;
		font: normal normal normal px2rem428(13px)/px2rem428(17px) Microsoft YaHei;
		color: #303030;
		overflow-y: scroll;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #012557;
			border-radius: px2rem428(9px);
		}

		.ann14-middle-popup-table {
			width: px2rem428(320px);
			text-align: center;
			border-collapse: collapse;
			th {
				border: 2px solid #012557;
				background-color: #012557;
				font: normal normal normal px2rem428(9px)/px2rem428(12px) Microsoft YaHei;
				color: white;
				height: px2rem428(20px);
				vertical-align: middle;
			}
			td {
				border: 2px solid #012557;
				font: normal normal normal px2rem428(9px)/px2rem428(12px) Microsoft YaHei;
				color: #303030;
				height: px2rem428(20px);
				vertical-align: middle;
			}
		}
	}
}

//我的中獎紀錄彈窗
.ann14-bottom-popup {
	position: absolute;
	top: px2rem428(223px);
	left: px2rem428(23px);
	right: px2rem428(23px);
	max-height: px2rem428(387px);
	border: none;
	background: #f6dab5;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	outline: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 8px;
	.ann14-bottom-popup-header {
		position: relative;
		background-color: #c80e0e;
		width: 100%;
		height: px2rem428(33px);
		min-height: px2rem428(33px);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font: normal normal bold px2rem428(16px)/px2rem428(21px) Microsoft YaHei;
		color: #f6dab5;
		border-radius: 8px 8px 0 0;
		.ann14-bottom-popup-close {
			position: absolute;
			right: px2rem428(8px);
			width: px2rem428(23px);
			height: px2rem428(23px);
			filter: invert(1);
		}
	}
	.ann14-bottom-popup-content {
		padding-top: px2rem428(15px);
		padding-left: px2rem428(10px);
		padding-right: px2rem428(10px);
		padding-bottom: px2rem428(15px);
		font: normal normal normal px2rem428(10px)/px2rem428(12px) Microsoft YaHei;
		color: #303030;
		//overflow-y: scroll;
		margin: 0 auto;
		padding-bottom: 80px;
		width: 100%;
		&::-webkit-scrollbar {
			width: px2rem428(6px);
		}

		&::-webkit-scrollbar-thumb {
			background-color: #8f8f8f;
			border-radius: px2rem428(9px);
		}
	}
}

//debug 彈窗
.ann14-debug-entry {
	position: absolute;
	width: px2rem428(64px);
	height: px2rem428(64px);
	right: px2rem428(75px);
	bottom: px2rem428(80px);
}
.ann14-debug-popup {
	position: absolute;
	top: 2rem;
	left: 0.5rem;
	right: 0.5rem;
	max-height: calc(100vh - 2rem);
	border: none;
	background: #0c2274;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	outline: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	.ann14-debug-popup-header {
		background-color: #f6dab5;
		width: 100%;
		height: px2rem428(37px);
		min-height: px2rem428(37px);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-left: px2rem428(15px);
		padding-right: px2rem428(9px);
		font: normal normal bold px2rem428(15px)/px2rem428(20px) Microsoft YaHei;
		color: #0c2274;
		.ann14-debug-popup-close {
			width: px2rem428(23px);
			height: px2rem428(23px);
		}
	}
	.ann14-debug-popup-content {
		width: 100%;
		padding-top: px2rem428(17px);
		padding-left: px2rem428(15px);
		padding-right: px2rem428(17px);
		padding-bottom: px2rem428(22px);
		font: normal normal normal px2rem428(13px)/px2rem428(17px) Microsoft YaHei;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		overflow-y: scroll;
		.ann14-debug-popup-content-input {
			width: px2rem428(250px);
			input {
				font-size: px2rem428(20px);
			}
		}
		.ann14-debug-popup-content-button {
			width: px2rem428(135.43px);
			min-height: px2rem428(37px);
			background-color: #1285f5;
			border-radius: px2rem428(10px);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		.ann14-debug-popup-content-hints {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			.ann14-debug-popup-content-hint-button {
				width: px2rem428(30px);
				height: px2rem428(30px);
				margin: px2rem428(10px);
				background-color: #1285f5;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}
		}
		.ann14-debug-popup-content-prizeResultTypes {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			.ann14-debug-popup-content-prizeResultType-button {
				width: px2rem428(30px);
				height: px2rem428(30px);
				margin: px2rem428(10px);
				background-color: #1285f5;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				&.selected {
					background-color: #eacf7a;
				}
			}
		}
		.ann14-debug-popup-content-prizeTypes {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			.ann14-debug-popup-content-prizeType-button {
				width: px2rem428(80px);
				height: px2rem428(30px);
				margin: px2rem428(10px);
				background-color: #1285f5;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				&.selected {
					background-color: #eacf7a;
				}
			}
		}
		.ann14-debug-popup-content-prize-button {
			width: px2rem428(135.43px);
			min-height: px2rem428(37px);
			background-color: #1285f5;
			border-radius: px2rem428(10px);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
	}
}

.LotteryBox {
	position: relative;
	margin: 60px auto 45px;
	.lotteryBg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		//z-index: 10;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.lotteryBtn {
		width: 100px;
		height: 105px;
		top: -8px;
		cursor: pointer;
		position: relative;
		//z-index: 40;
		border-radius: 50%;
		color: #fff;
		border: none;
		outline: none;
		background-color: transparent;
		.BtnBgImg {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 90%;
		}
	}
}

.NewsPage {
	width: 100vw;
	height: auto;
	min-height: 100vh;
	background-image: url($base-path + '/img/events/WC2022/BG_1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 10px 0;
	.video {
		position: absolute;
		top: 10px;
		left: 18px;
		background-color: #0000007d;
		padding: 8px;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.video-js .vjs-big-play-button {
		background-image: url($base-path + '/img/events/WC2022/video_fill.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		line-height: 40px;
		margin-left: -20px;
		border: 0;
		// &::before {
		// 	position: absolute;
		// 	top: 10px;
		// 	left: 14px;
		// 	content: "";
		// 	border-top: 10px solid transparent;
		// 	border-left: 15px solid #06f;
		// 	border-bottom: 10px solid transparent;
		// }
		.vjs-icon-placeholder {
			display: none;
		}
	}
	.DetailsBox {
		.video-js {
			width: 100%;
			height: 200px;
			overflow: hidden;
			padding-top: 0;
			// .vjs-control-bar {
			// 	display: none;
			// }
		}
		.content {
			padding: 10px 20px;
			line-height: 20px;
			color: white;
		}
	}
	.NewsSwiper {
		margin: 10px 0px 0px 0;

		.swiper-pagination {
			position: absolute;
			text-align: center;
			transition: .3s opacity;
			transform: translate3d(0, 0, 0);
			z-index: 10;
			bottom: 10px;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			.swiper-pagination-bullet {
				width: 6px !important;
				height: 6px !important;
				text-align: center;
				line-height: 6px;
				font-size: 12px;
				color: #000;
				opacity: 1;
				background: #ffe786;
				border-radius: 10px;
				margin: 5px 2px;
			}

			.swiper-pagination-bullet-active {
				color: #fff;
				background: #ffe786;
				width: 20px !important;
				height: 8px !important;
			}
		}
		.swiper-slide {
			background: #03a9f436;
			width: 90% !important;
			margin: 0 5%;
			border-radius: 20px;
			overflow: hidden;
		}

		.swiper-slide-prev {
			right: -8%;
		}

		.swiper-slide-next {
			left: -8%;
		}
	}
	.WC2022Swiper {
		padding-bottom: 40px;
		.swiper-slide {
			height: 365px;
		}
	}
	.NewsSwiper .swiper-slide {
		height: 165px;
	}
	.NewsSwiper {
		.title {
			position: absolute;
			bottom: -23px;
			padding: 0.26667rem 0.53333rem;

			width: 100%;
			height: 5px;
			box-shadow: 30PX 30px 80px 72px black;
		}
	}
	.Mini-Game {
		.Mini-Game-Swiper {
			margin-top: 20px;
			.swiper-slide {
				width: 62.8%;
				margin-right: 10px;
				border-radius: 10px;
				overflow: hidden;
			}
		}
	}
	.News-list {
		padding: 20px;
		display: flex;
		color: white;
		.left {
			flex-basis: 40%;
			margin-right: 15px;
			position: relative;
			.video {
				position: absolute;
				top: 5px;
				left: 10px;
				background-color: #0000007d;
				padding: 5px;
				border-radius: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.right {
			flex-basis: 60%;
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			line-height: 20px;
			.time {
				//padding-top: 10px;
				font-size: 12px;
				color: #8f8f8f;
			}
		}
	}

	.morebtn {
		background-color: #ffe05c;
		margin: auto 20px;
		border: 0;
		padding: 17px;
		width: 89%;
		border-radius: 10px;
		font-size: 17px;
		font-weight: bold;
	}
	label {
		padding: 15px 20px;
		margin-top: 0px;
		display: block;
		color: white;
	}
}

.TeamsListModal {
	top: 20%;
	.modal-info-title {
		background-color: #00a6ff;
		color: white;
		padding: 15px;
	}
	.Errorset {
		font-size: 12px;
		margin-top: -15px;
		margin-bottom: 15px;
	}
	.TeamsShow {
		height: 285px;
		padding: 5px 0px 15px;
		overflow: auto;
		margin: 0px 0px 30px 0px;
		.logo {
			width: 24px;
			margin: 0 10px;
		}
	}
}
