$max-width: 880px;
$header-height: 58px;
$app-download-bar-height: 68px;
$left-right-distance: 0 20px;
$left-right-distance-small: 0 10px;
$left-right-distance-xsmall: 0 8px;
$base-path: '/vn'; //根目錄，默認空，如果放在子目錄下，在這裡指定(例子：/ec2021 )
