$light-font-color: #000;
$light-bg-color: #EFEFF4;
$light-theme-color: #00A6FF;
$light-theme-active-color: #0096e7;
$light-color1: #666666;
$light-color2: #888888;
$light-color3: #999;
$light-active-color1: #ddd;
$light-link-color: $light-theme-color;
$light-success-color: #34C759;